{% extends "base.html" %}

{% block content %}

    {% if fork %}
        {% if fork.parent %}
            <a href="{% url view_fork id=fork.parent.id %}">parent</a>
        {% endif %}
    {% else %}
        <h3>new</h3>
    {% endif %}

    <form method="POST">
        <ul>
            <li><input type="text" name="title" value="{{ fork.title}}" /></li>
            <li><textarea name="body">{{ fork.body|escape }}</textarea></li>
            <li><input type="submit" value="create" /></li>
        </ul>
    </form>

    {% if fork %}
        <h3>Forks</h3>
        <ul>
            {% for child in fork.children %}
                <li><a href="{% url view_fork id=child.id %}">{{ child.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
